// -------------- THEME SWITCHER -------------- //
@mixin theme(
  $--bg-color,
  $--primary-text-color,
  $--secondary-text-color,
  $--link-color,
  $--highlight
) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    color: $--link-color;
  }

  details {
    border: thin solid $--primary-text-color;
  }

  details summary {
    color: $--primary-text-color;
  }

  details[open] summary {
    border-bottom: 1px solid $--primary-text-color;
  }

  pre {
    background: $--bg-color;
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  *:target {
    background: $--highlight;
    color: $--primary-text-color;
  }

  table,
  th,
  td {
    border: thin solid $--primary-text-color;
  }

  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  figcaption {
    color: $--secondary-text-color;
  }

  blockquote {
    border: thin solid $--primary-text-color;
  }
}

@mixin dark-appearance {
  @include theme(#212121, #fafafa, #000000, #0071bc, #ffff00);
}

@mixin light-appearance {
  @include theme(#ffffff, #212121, #666666, #1e70bf, #ffff00);
}

body[a="dark"] {
  @include dark-appearance;
}
body[a="light"] {
  @include light-appearance;
}

@media (prefers-color-scheme: dark) {
  body[a="auto"] {
    @include dark-appearance;
  }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] {
    @include light-appearance;
  }
}

// -------------------------------------------- //

html {
  height: 100%;
}

body {
  font-family: consolas;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  text-align: center;
  border: 0;
  margin: 2rem 0;

  &:before {
    content: "/////";
  }
  &:after {
    content: attr(data-content) "/////";
  }
}

pre {
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.4rem;
}

blockquote {
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

details {
  padding: 1rem;
}

details summary {
  text-decoration: none;
}

details[open] summary {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.toc {
  padding: 1rem;
}

h1 {
  font-size: 2.5em;
  margin: 2em;
}

h2 {
  font-size: 2em;
  // margin: 1em;
}

h3 {
  font-size: 1.5em;
  // margin: 0.5em;
}

h4 {
  font-size: 1.2em;
  // margin: 0.5em;
}

h5 {
  font-size: 1.1em;
  // margin: 0.5em;
}

h6 {
  font-size: 1.1em;
  // margin: 0.5em;
}

body {
  counter-reset: h2;
}
h2 {
  counter-reset: h3;
}
h3 {
  counter-reset: h4;
}
h4 {
  counter-reset: h5;
}

article[seq] h2:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}
article[seq] h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) " ";
}
article[seq] h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) " ";
}

article[seq] .toc ul {
  counter-reset: item;
}
article[seq] .toc li a:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
